.Toolbar {
    height: 56px;
    width: 100%;
    display: block;
    background-color: #6200EE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}
.Toolbar h1{
    color: antiquewhite;
    font-size: medium;
    font-weight: bold;
}


